<mat-card *ngIf="!editView">
  <mat-card-header>
    <h1>{{ client?.firstname }} {{ client?.lastname }}</h1>
  </mat-card-header>

  <mat-card-subtitle>
    <h2>{{ client?.companyName }}</h2>
  </mat-card-subtitle>
  <mat-card-content>
    <p>Email: {{ client?.email }}</p>
    <p>Telephone: {{ client?.telephoneNumber }}</p>
  </mat-card-content>
  <mat-card-footer>
    <button (click)="edit()" mat-raised-button color="primary">Edit</button>
    <button (click)="searchAll()" mat-raised-button color="primary">Search All Clients</button>
    <button (click)="delete(client)" mat-raised-button color="warn">Delete</button>
  </mat-card-footer>
</mat-card>

<mat-card *ngIf="editView">
  <mat-card-header>
    <mat-form-field>
      <input matInput type="text" name="firstname" [(ngModel)]="client.firstname" />
    </mat-form-field>
    <mat-form-field>
      <input matInput type="text" name="lastname" [(ngModel)]="client.lastname" />
    </mat-form-field>
  </mat-card-header>
  <mat-card-subtitle>
    <h2>{{ client?.companyName }}</h2>
  </mat-card-subtitle>
  <mat-card-content>
    <mat-form-field>
      <input matInput type="text" name="email" [(ngModel)]="client.email" />
    </mat-form-field>
    <mat-form-field>
      <input matInput type="text" name="telephone" [(ngModel)]="client.telephoneNumber" />
    </mat-form-field>
  </mat-card-content>
  <mat-card-footer>
    <button mat-button (click)="save()">Save</button>
  </mat-card-footer>
</mat-card>
