mat-card-subtitle {
  padding-left: 35px;
  font-size: 1.2em;
}

mat-card-content {
  padding-left: 35px;
  font-size: 1.1em;
}

mat-card-footer {
  border-top: solid 1px white;
  padding-left: 35px;
  font-size: 0.9em;

  button {
    margin: 2px;
  }
}

mat-form-field {
  display: block;
}
